{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Paid Advertising | Buniwa Creations {% endblock %}

{% block seo_description %}Buniwa Creations Digital Marketing Services.{% endblock %}

{% block content %}


 <!-- Service Start -->

 <!-- service hero -->
 <div class="page-header d-flex align-items-center" style="background-image: url('static/images/herobg6.jpg'); background-size: cover;">
  <div class="container page-hero position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center py-6">
        <h2 class="display-4 fw-bold text-light py-2"> Paid Advertising </h2>
        <p class="fs-5 fw-bold">
          <a href="{% url 'index' %}">Home</a> <i class="bi bi-caret-right"></i>Google Ads PPC
        </p>
      </div>
    </div>
  </div>
</div>
 <!-- end service hero -->

<body>

  <main id="main" style="margin-top: 70px;">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <h1 class="mb-5">Google Ads Pay-Per-Click (PPC) </h1>
              <p><span class="firstcharacter">G</span>oogle Ads Pay-Per-Click (PPC) is a powerful online advertising model where advertisers pay a fee each time their ad is clicked. This method allows businesses to gain immediate visibility on Google's search results page, driving targeted traffic to their websites. For small businesses in Kenya, Google Ads PPC offers a cost-effective way to reach potential customers quickly and efficiently. At Buniwa Creations, we specialize in creating and managing PPC campaigns that deliver high ROI and meet your business goals.</p>

              
            </div><!-- End Single Post Content -->

         
          </div>
          <div class="col-md-3">

          </div>


        </div>


           
        <section id="features" class="features section">
          <h5>Why Your Business Needs Google Ads PPC</h5>
            <div class="container">
                <div class="row justify-content-between">

                <div class="col-lg-5 d-flex align-items-center">

                    <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                        <i class="bi bi-database-fill-check
                        "></i>
                        <div>
                            <h4 class="d-none d-lg-block">Immediate Results</h4>
                            <p>
                              Unlike SEO, which can take time to show results, Google Ads PPC provides immediate visibility on search engine results pages, driving instant traffic to your website.
                            </p>
                        </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class=" active nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                        <i class="bi bi-pin-map-fill"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Targeted Advertising</h4>
                            <p>
                              PPC allows you to target specific keywords, demographics, locations, and even the time of day your ads are shown, ensuring you reach the right audience at the right time.
                            </p>
                        </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="active nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                        <i class="bi bi-cash-coin"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Cost Control</h4>
                            <p>
                              With PPC, you only pay when someone clicks on your ad, making it a cost-effective advertising method. You can also set daily budgets to control your ad spend.
                            </p>
                        </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="active nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                        <i class="bi bi-bar-chart-fill"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Measurable Results</h4>
                            <p>
                              PPC campaigns provide detailed analytics, allowing you to track clicks, impressions, conversions, and other key metrics. This data helps you measure the effectiveness of your campaigns and make informed decisions.
                            </p>
                        </div>
                        </a>
                    </li>
                    </ul><!-- End Tab Nav -->

                </div>

                <div class="col-lg-6">

                    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                    <div class="tab-pane heartbeat fade active show" id="features-tab-1">
                        <img src="{% static 'images/best-paid-advertising-company-in-kenya.png' %}" alt="" class="img-fluid">
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-2">
                        <img src="{% static 'images/services-1.jpg' %}" alt="" class="img-fluid">
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-3">
                        <img src="{% static 'images/services-2.jpg' %}" alt="" class="img-fluid">
                    </div><!-- End Tab Content Item -->
                    </div>

                </div>

                </div>

            </div>

        </section>


    <style>
            section,
        .section {
        color: #3d4348;;
        background-color: #ffffff;
        padding: 60px 0;
        scroll-margin-top: 100px;
        overflow: clip;
        }

        @media (max-width: 1199px) {

        section,
        .section {
            scroll-margin-top: 66px;
        }
        }

        .services {
            --background-color: #ffffff;
            --accent-color: #388da8;
            --background-color: color-mix(in srgb, var(--accent-color), transparent 97%);
          }

    </style>


        <section id="services" class="services section">
        <div class="row ">

            <div class="col-lg-4">
                <div class="" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item item-cyan position-relative">
                        <div>
                        <h3 class="text-dark mb-4">Our Approach To Google Ads PPC</h3>
                        <OL>
                          <li>Initial Consultation and Goal Setting - 
                            We begin with an in-depth consultation to understand your business objectives, target audience, and budget. Based on this, we set clear goals for your PPC campaigns.

                          </li>
                          <li>
                            
                            Strategic Planning and Setup - 
                            Our team develops a comprehensive PPC strategy tailored to your business needs. We set up your campaigns with precise targeting, relevant keywords, and compelling ad copy.
                            </li>
                            <li>
                              
                            Continuous Optimization - 
                            We continuously monitor and optimize your PPC campaigns to ensure maximum performance. This includes adjusting bids, refining keywords, and testing new ad variations.
                         
                            </li>
                            <li>
                              Regular Reporting and Analysis - 
                            We provide regular reports that detail your campaign’s performance, including key metrics such as click-through rates (CTR), conversion rates, and return on ad spend (ROAS). Our analysis helps identify areas for improvement and optimize your campaigns further.
                            </li>
                        <a href="" class="btn btn-success mt-5">Get A Quote<i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-lg-8">
              <h3>What Our Google Ads PPC Service Entails</h3>
                <div class="row">
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <i class="bi bi-text-wrap
                    icon"></i>
                    <div>
                    <h3>Keyword Research and Selection</h3>
                    <p>
                      We conduct extensive keyword research to identify the most relevant and cost-effective keywords for your PPC campaigns. This ensures your ads reach the right audience.</p>
                    <!-- <a href="" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative">
                    <i class="bi bi-pencil-square
                    icon"></i>
                    <div>
                    <h3>Ad Copy Creation</h3>
                    <p> 
                      Our team crafts compelling ad copy that attracts clicks and converts visitors into customers. We focus on creating clear, persuasive messages that highlight your unique selling points.</p>
                    <!-- <a href="" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item item-teal position-relative">
                    <i class="bi bi-bezier icon"></i>
                    <div>
                    <h3>Campaign Setup and Management</h3>
                    <p>
                      We handle all aspects of setting up and managing your PPC campaigns. This includes selecting the right keywords, setting bid amounts, and targeting specific demographics and locations.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item item-red position-relative">
                    <i class="bi bi-file-earmark-break-fill
                    icon"></i>
                    <div>
                    <h3>Landing Page Optimization</h3>
                    <p>
                      A well-optimized landing page is crucial for PPC success. We design and optimize landing pages to ensure they are relevant to the ad content and encourage visitors to take the desired action.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item item-indigo position-relative">
                    <i class="bi bi-menu-button-wide-fill icon"></i>
                    <div>
                    <h3>Ad Extensions</h3>
                    <p>
                      We use ad extensions to enhance your ads with additional information, such as call buttons, location information, and site links, making them more attractive and effective.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item item-pink position-relative">
                    <i class="bi bi-calendar3-range-fill
                    icon"></i>
                    <div>
                    <h3>A/B Testing</h3>
                    <p>
                      To maximize the effectiveness of your ads, we conduct A/B testing on various elements, such as ad copy, headlines, and landing pages, to determine what works best.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item item-pink position-relative">
                    <i class="bi bi-graph-up
                    icon"></i>
                    <div>
                    <h3>Performance Tracking and Reporting</h3>
                    <p>
                      
We continuously monitor your PPC campaigns, track key performance metrics, and provide detailed reports. This helps us optimize your campaigns for better results and keep you informed of your progress.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->

                </div>
    
            </div>
    
            </div>
    
        </section>


            <!-- Our Commitment -->
    <section id="more-features" class="more-features section">
        <div class="container section-title" data-aos="fade-up">
            <h2>MEASURING SUCCESS</h2>
          </div>
    
        <div class="container">
  
          <div class="row justify-content-around gy-4">
  
            <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
              
              <p>We measure success in Google Ads PPC through various key performance indicators (KPIs), including:</p>
  
              <div class="row">
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-hand-index-thumb-fill
                  flex-shrink-0"></i>
                  <div>
                    <h4>Click-Through Rate (CTR)</h4>
                    <p> 
                      The percentage of people who click on your ad after seeing it. A high CTR indicates that your ad is relevant and compelling.</p>
                  </div>
                </div><!-- End Icon Box -->
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-patch-check flex-shrink-0"></i>
                  <div>
                    <h4>Conversion Rate</h4>
                    <p>
                      The percentage of visitors who take the desired action on your landing page, such as making a purchase or filling out a form. This measures the effectiveness of your ad and landing page.</p>
                  </div>
                </div><!-- End Icon Box -->
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-coin flex-shrink-0"></i>
                  <div>
                    <h4>Cost Per Click (CPC)</h4>
                    <p>
                      The average amount you pay for each click on your ad. Lower CPCs help you get more clicks within your budget.</p>
                  </div>
                </div><!-- End Icon Box -->
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-brightness-high flex-shrink-0"></i>
                  <div>
                    <h4>Return on Ad Spend (ROAS)</h4>
                    <p>
                      The revenue generated for every dollar spent on your PPC campaign. This metric helps you assess the profitability of your campaigns.</p>
                  </div>
                </div><!-- End Icon Box -->
  
              </div>
  
            </div>
  
            <div class="features-image heartbeat col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
              <img style="border-radius: 3%;" src="{% static 'images/google-ad-specialist-in-kenya.jpg' %}" alt="">
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /Commitment -->
  


      </div>
    </section>
  </main><!-- End #main -->


  {% endblock %}
