{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Our Social Media Marketing | Buniwa Creations {% endblock %}

{% block seo_description %}Buniwa Creations Digital Marketing Services.{% endblock %}

{% block content %}


 <!-- Service Start -->

 <!-- service hero -->
 <div class="page-header d-flex align-items-center" style="background-image: url('static/images/herobg6.jpg'); background-size: cover;">
  <div class="container page-hero position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center py-6">
        <h2 class="display-4 fw-bold text-light py-2">Social Media Marketing</h2>
        <p class="fs-5 fw-bold">
          <a href="{% url 'index' %}">Home</a> <i class="bi bi-caret-right"></i> Social Media Marketing
        </p>
      </div>
    </div>
  </div>
</div>
 <!-- end service hero -->

<body>

  <main id="main" style="margin-top: 70px;">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <h1 class="mb-5">Social Media Marketing</h1>
              <p><span class="firstcharacter">S</span>ocial Media Marketing (SMM) is the use of social media platforms to connect with your audience, build your brand, increase sales, and drive website traffic. It involves publishing great content on your social media profiles, engaging with your followers, analyzing your results, and running social media advertisements. For small businesses in Kenya, social media offers a powerful way to reach a large audience with limited financial resources. At Buniwa Creations, we provide comprehensive social media marketing services designed to help small businesses grow their online presence and achieve their marketing goals.</p>

              
            </div><!-- End Single Post Content -->

         
          </div>
          <div class="col-md-3">

          </div>


        </div>


           
        <section id="features" class="features section">
          <h5>Why Your Business Needs Professional Social Media Marketing</h5>
            <div class="container">
                <div class="row justify-content-between">

                <div class="col-lg-5 d-flex align-items-center">

                    <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                        <i class="bi bi-binoculars"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Increased Brand Awareness</h4>
                            <p>
                              Social media platforms offer an excellent way to increase your brand's visibility and reach a larger audience. Regular posting and engagement help keep your brand top-of-mind.
                            </p>
                        </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="active nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                        <i class="bi bi-coin"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Cost-Effective Marketing</h4>
                            <p>
                              
                              
                              Social media marketing is one of the most cost-effective marketing strategies. It allows you to reach a wide audience with minimal investment, making it ideal for small businesses with limited budgets.
                            </p>
                        </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="active nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                        <i class="bi bi-person-arms-up"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Improved Customer Engagement</h4>
                            <p>
                              
                              
                              Social media provides a platform for direct interaction with your customers. This helps build stronger relationships, improve customer satisfaction, and increase loyalty.
                            </p>
                        </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="active nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                        <i class="bi bi-percent"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Higher Conversion Rates</h4>
                            <p>
                              Social media marketing can lead to higher conversion rates as it allows for more personalized and targeted marketing efforts. Engaging content and ads can drive users to take desired actions, such as making a purchase or signing up for a newsletter.
                            </p>
                        </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="active nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                        <i class="bi bi-person-check-fill"></i>
                        <div>
                            <h4 class="d-none d-lg-block">Enhanced Brand Loyalty</h4>
                            <p>
                              Consistent engagement and interaction with your audience on social media help build a loyal customer base. Responding to customer inquiries and addressing their concerns promptly can lead to higher customer retention.
                            </p>
                        </div>
                        </a>
                    </li>
                    </ul><!-- End Tab Nav -->

                </div>

                <div class="col-lg-6">

                    <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                    <div class="tab-pane heartbeat fade active show" id="features-tab-1">
                        <img src="{% static 'images/affordable-social-media-marketing-in-kenya.png' %}" alt="" class="img-fluid">
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-2">
                        <img src="{% static 'images/services-1.jpg' %}" alt="" class="img-fluid">
                    </div><!-- End Tab Content Item -->

                    <div class="tab-pane fade" id="features-tab-3">
                        <img src="{% static 'images/services-2.jpg' %}" alt="" class="img-fluid">
                    </div><!-- End Tab Content Item -->
                    </div>

                </div>

                </div>

            </div>

        </section>


    <style>
            section,
        .section {
        color: #3d4348;;
        background-color: #ffffff;
        padding: 60px 0;
        scroll-margin-top: 100px;
        overflow: clip;
        }

        @media (max-width: 1199px) {

        section,
        .section {
            scroll-margin-top: 66px;
        }
        }

        .services {
            --background-color: #ffffff;
            --accent-color: #388da8;
            --background-color: color-mix(in srgb, var(--accent-color), transparent 97%);
          }

    </style>


        <section id="services" class="services section">
        <div class="row ">

            <div class="col-lg-4">
                <div class="" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item item-cyan position-relative">
                        <div>
                        <h3 class="text-dark mb-4">Our Approach To Social Media Marketing</h3>
                        <ol>
                          <li>Initial Consultation and Goal Setting - 
                            We begin with an in-depth consultation to understand your business objectives, target audience, and competitors. Based on this, we set clear, measurable goals for your social media marketing efforts.
                            
                          </li>
                          <li>
                            Platform Selection - 
                            Not all social media platforms are suitable for every business. We help you select the right platforms that align with your business goals and where your target audience is most active.
                          </li>
                          <li>
                            Content Calendar Development - 
                            We create a detailed content calendar outlining what, when, and where to post. This ensures a consistent posting schedule and helps maintain an organized approach to content creation.
                            
                          </li>
                          <li>
                            
                            Execution and Monitoring - 
                            Our team executes the social media strategy, creating and posting content, engaging with your audience, and managing ad campaigns. We continuously monitor performance to make data-driven adjustments and improvements.
                          </li>
                          <li>
                            Ongoing Optimization - 
                            Social media is dynamic, and strategies need to evolve. We regularly review your social media performance, making necessary adjustments to optimize results and stay ahead of trends.
                          </li>
                        </ol>
                        <a href="" class="btn btn-success mt-5">Get A Quote<i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-lg-8">
              <h3>Our Social Media Marketing Entails;</h3>
                <div class="row">
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <i class="bi bi-activity icon"></i>
                    <div>
                    <h3>Social Media Strategy Development</h3>
                    We start by developing a customized social media strategy based on your business goals, target audience, and industry. This strategy outlines the platforms to focus on, the type of content to create, and the best times to post.</p>
                    <!-- <a href="" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative">
                    <i class="bi bi-camera-reels-fill icon"></i>
                    <div>
                    <h3>Content Creation and Curation</h3>
                    Creating engaging content is key to social media success. Our team creates high-quality, relevant content tailored to each platform. We also curate content from other sources to keep your audience engaged and informed.</p>
                    <!-- <a href="" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item item-teal position-relative">
                    <i class="bi bi-person-circle
                    icon"></i>
                    <div>
                    <h3>Profile Optimization</h3>
                    <p>
                      We optimize your social media profiles to ensure they are complete, professional, and aligned with your brand. This includes updating profile pictures, bios, and contact information.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item item-red position-relative">
                    <i class="bi bi-people-fill icon"></i>
                    <div>
                    <h3>Community Management</h3>
                    Engaging with your audience is crucial for building relationships and fostering loyalty. We manage your social media communities by responding to comments, messages, and reviews promptly and professionally.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item item-indigo position-relative">
                    <i class="bi bi-pip-fill icon"></i>
                    <div>
                    <h3>Social Media Advertising</h3>
                    To expand your reach and drive specific actions, we create and manage targeted social media ad campaigns. This includes setting up ads, targeting the right audience, and monitoring performance to ensure optimal results.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->
                
    
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item item-pink position-relative">
                    <i class="bi bi-pie-chart-fill icon"></i>
                    <div>
                    <h3>Analytics and Reporting</h3>
                    We track and analyze key metrics to measure the success of your social media efforts. Regular reports keep you informed of your progress and provide insights for continuous improvement.</p>
                    <!-- <a href="service-details.html" class="read-more stretched-link">Learn More <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                </div><!-- End Service Item -->

                </div>
    
            </div>
    
            </div>
    
        </section>


            <!-- Our Commitment -->
    <section id="more-features" class="more-features section">
        <div class="container section-title" data-aos="fade-up">
            <h2>MEASURING SUCCESS</h2>
          </div>
    
        <div class="container">
  
          <div class="row justify-content-around gy-4">
  
            <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
              
              <p>We determine success in social media marketing  by use of various metrics, including:</p>
  
              <div class="row">
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-easel flex-shrink-0"></i>
                  <div>
                    <h4>Engagement Rate</h4>
                    Measuring likes, comments, shares, and other interactions to gauge how well your content resonates with your audience. </p>
                  </div>
                </div><!-- End Icon Box -->
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-graph-up-arrow flex-shrink-0"></i>
                  <div>
                    <h4>Follower Growth</h4>
                    <p>
                      Tracking the increase in followers over time to assess the growth of your social media presence.</p>
                  </div>
                </div><!-- End Icon Box -->
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-brightness-high flex-shrink-0"></i>
                  <div>
                    <h4>Website Traffic</h4>
                    <p>
                      Analyzing the amount of traffic driven to your website from social media platforms.</p>
                  </div>
                </div><!-- End Icon Box -->
  
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-percent flex-shrink-0"></i>
                  <div>
                    <h4>Conversion Rates</h4>
                    <p>
                      Monitoring the percentage of social media visitors who take desired actions, such as making a purchase or signing up for a newsletter.t</p>
                  </div>
                </div><!-- End Icon Box -->
                <div class="col-lg-6 icon-box d-flex">
                  <i class="bi bi-eye-fill flex-shrink-0"></i>
                  <div>
                    <h4>Reach and Impressions</h4>
                    <p>
                      Measuring how many people see your content and how many times it is viewed to understand the scope of your social media reach.</p>
                  </div>
                </div><!-- End Icon Box -->
  
              </div>
  
            </div>
  
            <div class="features-image heartbeat col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
              <img style="border-radius: 3%;" src="{% static 'images/b1.jpg' %}" alt="">
            </div>
  
          </div>
  
        </div>
  
      </section><!-- /Commitment -->
  


      </div>
    </section>
  </main><!-- End #main -->


  {% endblock %}
