{% extends 'Buniwa/base.html' %}

{% load static %}

{% block title %}Buniwa | Profile {% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" height="150px" src="{{ profile_photo_url }}">
                <span class="font-weight-bold">{{ user.first_name }}</span>
                <span class="font-weight-bold">@{{ user.username }}</span>
                <span class="text-black">{{ user.email }}</span>
                <span> </span>
                <form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
                    {% csrf_token %}
                    <label class="btn btn-primary mt-3">
                        Change Image <input type="file" name="profile_photo" id="profile_photo" hidden>
                    </label>
                    {% if user_details.profile_photo %}
                    <button type="submit" name="remove_photo" class="btn btn-danger mt-2">Remove Profile Photo</button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" style="color: #006400;">Profile Settings</h4>
                </div>
                <form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
                    {% csrf_token %}
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">First Name</label>
                            <input type="text" name="first_name" class="form-control" placeholder="First Name" value="{{ user.first_name }}">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Last Name</label>
                            <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="{{ user.last_name }}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Additional Name</label>
                            <input type="text" class="form-control" placeholder="other names" name="additional_name" value="{{ user_details.additional_name }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Mobile Number</label>
                            <input type="text" class="form-control" placeholder="+254 XXXXXXXX" name="mobile_number" value="{{ user_details.mobile_number }}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email Address</label>
                            <input type="text" class="form-control " placeholder="{{ user.email }}" value="{{ user.email }}" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label class="labels">Country</label>
                            <input type="text" class="form-control" placeholder="country" name="country" value="{{ user_details.country }}">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">State/Region</label>
                            <input type="text" class="form-control" placeholder="state" name="state_region" value="{{ user_details.state_region }}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success mt-2">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('profile_photo').addEventListener('change', function() {
        this.form.submit();
    });
</script>
{% endblock %}
